.spin-wheel {
  /* animation-duration: 1s;
  animation-name: rotate-animation;
  animation-iteration-count: 4;
  animation-timing-function: ease-in-out; */
  transition: transform 5s ease-in-out;
}

#circle span {
  position: absolute;
  transform-origin: top left;
}

@keyframes rotate-animation {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

/* Misc. */
body {
  height: 50;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
	font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.wheel-knob {
    transition: all .25s ease;
}