<div class="parent">
  <div class="child" style="pointer-events:none;" (transitionend)="transitionEnd($event)">
    <svg class="spin-wheel" #svgContainer viewBox="-200 -200 400 400" style="transform: rotate(-90deg);"></svg>
  </div>
  <div class="child" style="z-index: 300; pointer-events:none;"  (click)="spinWheel()" >
    <svg viewBox="-200 -200 400 400" >
      <g class="wheel-knob">
        <path d="M -11.136677627508524 -30.34744652331423
                  L 0 -50.11504925967919
                  L 11.136677627508524 -30.34744652331423
                  A 33.48346153846153 33.48346153846153 0 1 1 -11.136677627508524 -30.34744652331423
                  Z" fill="black" stroke-width="4.35285" stroke-linejoin="round" stroke="white" pointer-events="auto"></path>
          <text font-size="22.90973684210526" font-family="VanillaExtractRegular" fill="white" height="22.90973684210526" text-anchor="middle" y="8.7057" pointer-events="none">Spin</text>
      </g>
    </svg>
  </div>
</div>