<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <div class="card-actions justify-end">
            <button class="btn btn-square" routerLink=routerLink routerLinkActive="active">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
            </button>
        </div>
    </div>
</div>