<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="emsqrd" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>

<div class="container mx-auto">

  <!-- Resources -->
  <article class="prose">        
      <h1>Welcome to Random Utilities!</h1>
  </article>

  <div>
    <utility-card title="Random Name Picker" routerLink="/namepicker"></utility-card>
    <utility-card title="Random Number Picker" routerLink="/numberpicker"></utility-card>
  </div>  

  <!-- Footer -->
  <footer class="footer p-10 bg-neutral text-neutral-content">
    <div>
    <span class="footer-title">Like This?</span> 
      <a href="https://github.com/emsqrd/ems-rando-utes" target="_blank" rel="noopener">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/emsqrd/ems-rando-utes?style=social">
      </a><a href="https://www.buymeacoffee.com/emsqrd" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 30px !important;width: 108px !important;" ></a>
    </div>
  </footer>


</div>