<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
  data-slug="emsqrd" data-color="#5F7FFF" data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
  data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>

<div class="container mx-auto px-6 py-8">

  <p class="text-4xl font-extrabold text-center mx-auto mb-10">
    Random Utilities
  </p>

  <div class="flex bg-base-200 p-5">
      <div class="w-full sm:w-3/4 lg:w-1/2 lg:flex space-x-4 mx-auto justify-center">
        <utility-card title="Random Name Picker" utilityRoute="/namepicker"></utility-card>
        <utility-card title="Random Number Picker" utilityRoute="/numberpicker"></utility-card>
      </div>
  </div>

  <!-- Footer -->
  <footer class="footer p-10 bg-neutral text-neutral-content">
    <div>
      <span class="footer-title">Like This?</span>
      <a href="https://github.com/emsqrd/ems-rando-utes" target="_blank" rel="noopener">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/emsqrd/ems-rando-utes?style=social">
      </a>
      <a href="https://www.buymeacoffee.com/emsqrd" target="_blank">
        <a href="https://www.buymeacoffee.com/emsqrd" target="_blank"><img
            src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee"
            style="height: 60px !important;width: 217px !important;"></a>
      </a>
    </div>
  </footer>


</div>