<div class="container mx-auto">

    <article class="prose">        
        <h1>Name Picker</h1>
    </article>

    <div class="form-control my-8">
        <div class="input-group">
            <input #nameInput type="text" placeholder="Add Name..." class="input input-bordered w-full max-w-xs" [(ngModel)]="nameToAdd">
            <button class="btn btn-square" (click)="addName()">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                    <path d="M12 4V20M4 12H20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </button>
        <button class="btn mx-4" (click)="clearNames()">Clear Names</button>
        <button class="btn mx-4" (click)="pickName()">Pick Name</button>
        </div>
    </div>

    <div>
        <ul>
            <li *ngFor="let name of names" style="list-style-type:none;">
                {{ name }}
            </li>
        </ul>
    </div>
    <div *ngIf="pickedName">
        <label>Chosen Name: {{pickedName}}</label>
    </div>
    
</div>