<div class="container mx-auto px-6 py-8">

    <div class="mb-5">
        <button class="btn btn-primary" routerLink="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
            </svg>
            Back
        </button>
    </div>

    <article class="prose">        
        <h1>Name Picker</h1>
    </article>

    <div class="form-control my-8">
        <div class="input-group">
            <input #nameInput type="text" placeholder="Add Name..." class="input input-bordered w-full max-w-xs" [(ngModel)]="nameToAdd">
            <button class="btn btn-square" (click)="addName()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
            </button>
        <button class="btn mx-4" (click)="clearNames()">Clear Names</button>
        <button class="btn mx-4" (click)="pickName()">Pick Name</button>
        </div>
    </div>

    <div>
        <ul>
            <li *ngFor="let name of names" style="list-style-type:none;">
                {{ name }}
            </li>
        </ul>
    </div>
    <div *ngIf="pickedName">
        <label>Chosen Name: {{pickedName}}</label>
    </div>
    
</div>